$side-padding: 1.6rem;
$side-padding-sm: 1rem;
.blog-list-empty {
  padding: 5rem 0;
  text-align: center;
  font-weight: 700;
  color: var(--color-base-text-lighter);
  font-size: 1.4rem;
}
.blog-link {
  display: flex;
  flex-flow: column;
  position: relative;
  background: var(--color-base-background-lighter);
}
.blog-link-title {
  padding: 1.6rem $side-padding 0;
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 1.4;
  @include mq(sm) {
    padding: 1.4rem $side-padding-sm 0;
  }
}
.blog-link_main-link {
  padding: 1.1rem $side-padding 1.5rem;
  flex: 1;
  display: flex;
  flex-flow: column;
  @include mq(sm) {
    padding: 1rem $side-padding-sm 1.2rem;
  }
}
.blog-link-time {
  color: var(--color-base-text-lighter);
  font-size: 12px;
}
.blog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .blog-link {
    margin-top: 5%;
    width: 47.5%;
    @include mq(sm) {
      margin-top: 1.3rem;
      width: 100%;
    }
  }
}
.blog-list-load {
  margin-top: 3rem;
  text-align: center;
}
.blog-list-load_button {
  border: solid 1px var(--color-border);
  padding: 0.9em 2em;
  border-radius: 2.5em;
  font-size: 0.9rem;
  color: var(--color-base-text-lighter);
  overflow-anchor: none;
}
