.home-top {
  padding: 2.7rem 0 2rem;
}
.home-top_title {
  font-size: 3.1rem;
  line-height: 1.4;
  @include mq(xs) {
    font-size: 2.6rem;
  }
}
.home-top_description {
  margin-top: 0.4rem;
  font-size: 1.2rem;
  color: var(--color-base-text-lighter);
}
.home-section-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 0;
  border-bottom: solid 1px var(--color-border);
}
.home-section-title {
  font-size: 1.7rem;
}
