@import '../Breakpoints';

$side-padding: 1.6rem;
$side-padding-sm: 1rem;

.blogListEmpty {
  padding: 5rem 0;
  text-align: center;
  font-weight: 700;
  color: var(--color-base-text-lighter);
  font-size: 1.4rem;
}

.blogList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .blogLink {
    // margin-top: 5%;
    // width: 47.5%;
    // @include mq(sm) {
    //   margin-top: 1.3rem;
    //   width: 100%;
    // }
    margin-top: 1.3rem;
    width: 100%;
  }
}
.blogListLoad {
  margin-top: 3rem;
  text-align: center;
}
.blogListLoad__Button {
  border: solid 1px var(--color-border);
  padding: 0.9em 2em;
  border-radius: 2.5em;
  font-size: 0.9rem;
  color: var(--color-base-text-lighter);
  // スクロール位置を調整するときにアンカー候補にしない
  overflow-anchor: none;
}

.blogLink {
  display: flex;
  flex-flow: column;
  position: relative;
  background: var(--color-base-background-lighter);
}
.blogLink__title {
  font-size: 1.1rem;
  flex: 1;
}
.blogLink__mainLink {
  padding: 1.1rem $side-padding 1.5rem;
  flex: 1;
  display: flex;
  flex-flow: column;
  @include mq(sm) {
    padding: 1rem $side-padding-sm 1.2rem;
  }
}
.blogLink__date {
  color: var(--color-base-text-lighter);
  font-size: 12px;
}
