:root {
  --color-base-background: #fff;
  --color-base-background-lighter: rgba(212, 231, 241, 0.6);
  --color-base-text: #111;
  --color-base-text-lighter: rgba(115, 125, 130, 0.4);
  --color-border: rgba(212, 231, 241, 0.6);
  --color-primary-background: orange;
  --color-primary-text: orange;
}
